# Use this if you are on a windows system
#$client_system = false

#$vm_gui = false
#$vm_memory = 512
#$vm_cpus = 1

#$num_etcd = 2
#$num_controller = 1
#$num_worker = 3

#$new_discovery = "https://discovery.etcd.io/new?size=#{$num_etcd}"
#$token = nil

#$core_channel = "alpha"
#$core_version = "current"
