#$vm_gui = false

#$etcd_memory = 512
#$etcd_cpus = 1
#$controller_memory = 512
#$controller_cpus = 1
#$worker_memory = 512
#$worker_cpus = 1

#$num_etcd = 2
#$num_controller = 1
#$num_worker = 4

#$new_discovery = "https://discovery.etcd.io/new?size=#{$num_etcd}"
#$token = nil

#$core_channel = "alpha"
#$core_version = "current"
